In [ ]:
import pandas as pd
import requests

# Initialize an empty list to store DataFrames
dfs = []

for i in range(1, 429):
    try:
        response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
        response.raise_for_status()  # Check for errors in the HTTP response
        temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
        dfs.append(temp_df)
    except requests.exceptions.RequestException as e:
        print(f"Error in request {i}: {e}")

# Use the concat function to concatenate the list of DataFrames into a single DataFrame
df = pd.concat(dfs, ignore_index=True)

# Now df contains the data retrieved from the API

In [13]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,121.693,8.704,25718
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,102.514,8.695,19543
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,68.971,8.577,11803
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,57.702,8.565,15182
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,45.314,8.539,8096
...,...,...,...,...,...,...,...
8555,201088,Blackhat,"Nicholas Hathaway, a furloughed convict, and h...",2015-01-13,32.678,5.479,1939
8556,615177,Coffee & Kareem,A Detroit cop reluctantly teams with his girlf...,2020-04-03,10.021,5.478,391
8557,97434,Gambit,An art curator decides to seek revenge on his ...,2012-04-25,11.447,5.478,636
8558,23023,Tooth Fairy,When minor-league hockey player Derek Thompson...,2010-01-14,21.390,5.478,1893
8559,717728,Jeepers Creepers: Reborn,Forced to travel with her boyfriend to a horro...,2022-09-15,47.141,5.477,926

In [ ]:
df.to_csv('movies.csv')